---
layout: default
robots: noindex
---


<ul id="projects-panel" class="timeline">
    {% for project in site.data.projects %}
        <li class="timeline-inverted">
            <div class="timeline-image">
                <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">

                    <h4><a
                            {% if project.gh_user %}
                                href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank"
                            {% elsif project.link %}
                                href="{{project.link}}" target="_blank"
                            {% endif %}
                            >{{ project.name }}</a></h4>
                </div>
                <div class="timeline-body">
                    {{ project.desc | markdownify }}
                    {% if project.gh_user %}
                        <div user="{{ project.gh_user }}" repo="{{ project.repo }}" class="ghbtn" style="margin-top: 10px;">
                            <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers"><i
                                    class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;&emsp;
                            <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network"><i
                                    class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;&emsp;
                            <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/watchers"><i
                                    class="far fa-eye"></i><span
                                    class="watchers">...</span></a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/watchers">
                            <div style="height: 10px;"></div>
                        </div>
                    {% endif %}
                </div>
        </li>
    {% endfor %}
</ul>
