<span class="mobile btn-mobile-menu">
  <i id="btn-mobile-menu" class="fas fa-bars"></i>
  <i id="btn-mobile-close" class="fas fa-times hidden"></i>
</span>

<header id="background-image" class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
  style="background-image: url({{ site.baseurl }}/images/cover.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a id="home-panel" href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img id="profile-image" src="{{ site.baseurl }}/images/profile.png" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div id="navbar" class="navigation-wrapper">

          <nav id="social-links" class="cover-navigation navigation--social">
            <ul class="navigation">
              
              <!-- Generate social links -->
              {% for social in site.socials %}
                {% assign link =  social[0] %}
                {% include socials/{{ link }}.html %}
              {% endfor %}

              <!-- Info -->
              <li class="navigation__item">
                <a id="info"  href="{{ site.baseurl }}/impressum.html" title="Impressum" target="_blank">
                  <i class="faicon fainfoicon fas fa-info fa-lg"></i>
                  <span class="label">Impressum</span>
                </a>
              </li>
            </ul>
          </nav>
          
          <nav id="projects-toggle" class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a title="List of projects" id="projects-button" class="panel-button projects-button"><i class="fas fa-code"></i> Projects</a></li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
